html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    position: absolute;
    width: 80%;
    height: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.station {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 30px;
    height: 30px;
    border-style: dashed;
    border-width: 0px;
    pointer-events: auto;
    padding: 0;
    margin: 0;
}

#sidebar {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    z-index: 100;
    background-color: #f9f9f9;
    pointer-events: none;
    border-width: 1px;
}